
<% @formlist=['15', '30', '45', '60', '75', '90', '105', '120','135','150','165','180','195','210','225','240'] %>

<div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
              
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    <!--About Us section -->
    <section id="about-us" class="section-padding">
      <div class="container">
        
       <div class="col-sm-12">
         <div class="col-sm-4">
          <div class="row">
                       <div class="col-sm-2 icn-img"><img src="assets/images/AddService.png" class="img-responsive" alt="img"/></div>
                       <div class="col-sm-10 sec-text"> <h3>Services</h3>
                        <span>Edit, Add, or Delete Services</span>
            </div>
                 </div>
       </div>
        <div class="col-sm-8">
                 <div class="row">
                    
            <div class="col-sm-12 profile-padding">
               <div class="col-sm-12  pro-details">
               <form>
                          <div class="col-md-6 pro-details">
                       
                     <div class="col-md-12">
                                          <select class="form-pro-form" placeholder="Service Category">
                       <option>Service Category</option>
                       <option> Select Option </option>
                      </select>
                                         </div>
                       
                     <div class="col-md-12">
                                          <select class="form-pro-form" placeholder="Sub-Service" >
                       <option>Sub-Service </option>
                       <option>Select Option  </option>
                      </select>
                                         </div>
                     <div class="col-md-12">
                                          <select class="form-pro-form" placeholder="Duration" >
                       <option>Duration </option>
                       <option>Select Option  </option>
                      </select>
                                         </div>
                     <div class="col-md-12">
                                          <select class="form-pro-form" placeholder="Cost" >
                       <option>Cost  </option>
                       <option>Select Option  </option>
                      </select>
                                         </div>
                    
                                       </div>
                                   
                    <div class="col-sm-4">
                       <h3>Location</h3>
                       <div class="form-group">
                         <input type="checkbox" name=""><label class="frmlb">Sefaty Concern</label>
                         </div>
                       <div class="form-group">
                         <input type="checkbox" name=""><label class="frmlb">Queens</label>
                         </div>
                       <div class="form-group">
                         <input type="checkbox" name=""><label class="frmlb">Brooklyn</label>
                         </div><div class="form-group">
                         <input type="checkbox" name=""><label class="frmlb">Bronx</label>
                         <div class="form-group">
                         <input type="checkbox" name=""><label class="frmlb">Staten Island</label>
                         </div>
                       </div><div class="form-group">
                         <input type="checkbox" name=""><label class="frmlb">Jersey City</label>
                         </div>
                    </div>
                  
                                   
              
              <div class="col-sm-2 pro-info">
                 <button class="btn-primary pro-btn">Add</button> 
                 
              </div>
              </form>
             </div> 
             <div class="col-sm-12 profile-padding">
               <div class="col-sm-12">
                <div class="row">
                  <img src="assets/images/dash/LineSeparation.png" class="separate" alt="img"/>
                </div>
              </div>
             </div> 
             <div class="col-sm-12 profile-padding">
              <div class="col-sm-12 pro-details">
              
              <div class=" col-sm-8 pro-info">
               <h3>Women’s Hair | Blow-Out</h3>
               <div class="col-sm-4">Jamie Smith</div>
               <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
               <div class="col-sm-2">60mins</div>
               <div class="col-sm-2 ">$70</div>
              </div>
              <div class="col-sm-4 pro-info">
                 <button class="btn-primary pro-btn">Edit</button> 
              
                 <button class="btn-primary pro-btn">Delete</button> 
              </div>
              </div> 
            </div>
                         <div class="col-sm-12 profile-padding">
              <div class="col-sm-12 pro-details">
              
              <div class=" col-sm-8 pro-info">
               <h3>Women’s Hair | Blow-Out</h3>
               <div class="col-sm-4">Jamie Smith</div>
               <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
               <div class="col-sm-2">60mins</div>
               <div class="col-sm-2 ">$70</div>
              </div>
              <div class="col-sm-4 pro-info">
                 <button class="btn-primary pro-btn">Edit</button> 
                
                 <button class="btn-primary pro-btn">Delete</button> 
              </div>
              </div> 
            </div>
                         <div class="col-sm-12 profile-padding">
              <div class="col-sm-12 pro-details">
              
              <div class=" col-sm-8 pro-info">
               <h3>Women’s Hair | Blow-Out</h3>
               <div class="col-sm-4">Jamie Smith</div>
               <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
               <div class="col-sm-2">60mins</div>
               <div class="col-sm-2 ">$70</div>
              </div>
              <div class="col-sm-4 pro-info">
                 <button class="btn-primary pro-btn">Edit</button> 
               
                 <button class="btn-primary pro-btn">Delete</button> 
              </div>
              </div> 
            </div>
                         <div class="col-sm-12 profile-padding">
              <div class="col-sm-12 pro-details">
              
              <div class=" col-sm-8 pro-info">
               <h3>Women’s Hair | Blow-Out</h3>
               <div class="col-sm-4">Jamie Smith</div>
               <div class="col-sm-4">Thu - Jan. 14 2017, 10am</div>
               <div class="col-sm-2">60mins</div>
               <div class="col-sm-2 ">$70</div>
              </div>
              <div class="col-sm-4 pro-info">
                 <button class="btn-primary pro-btn">Edit</button> 
               
                 <button class="btn-primary pro-btn">Delete</button> 
              </div>
              </div> 
            </div>
                </div>
      </div>
     </div> 
     
    
            
       
     </div>
    </div>  
    </section>
    <!--About Us section -->
    <!--Our service section -->
   


















    <%#= form_tag  user_service_list_path(current_user), :method => :post ,:remote=>true do %>




  </section>
</div>
<style>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    .se-pre-con{

        background: url('<%=asset_path('2.gif')%>') center no-repeat #fff;
    }
</style>
<script>
    /*$('select').each(function() {
     $(this).attr('disabled','true');
     });*/
    $('#addLoader').hide()


    $('#alertWarning').hide()

    $( document ).ready(function() {
        NProgress.done();

    });

    $('#service_time').prop('disabled',false);
    $('#states-of-country').prop('disabled',false);

/*    $('#test1').click(function() {
        if ($('#test1').is(":checked")){


            $('#cities-of-state1').prop('disabled',false);

        }
        else{
            $('#cities-of-state1').prop('disabled',true);
        }
    });*/
    $('#test2').click(function() {
        if ($('#test2').is(":checked")){


            $('#cities-of-state2').prop('disabled',false);

        }
        else{
            $('#cities-of-state2').prop('disabled',true);
        }
    });
    $('#test3').click(function() {
        if ($('#test3').is(":checked")){


            $('#cities-of-state3').prop('disabled',false);

        }
        else{
            $('#cities-of-state3').prop('disabled',true);
        }
    });

    $('#test4').click(function() {
        if ($('#test4').is(":checked")){


            $('#cities-of-state4').prop('disabled',false);

        }
        else{
            $('#cities-of-state4').prop('disabled',true);
        }
    });

    $('#test5').click(function() {
        if ($('#test5').is(":checked")){


            $('#cities-of-state5').prop('disabled',false);

        }
        else{
            $('#cities-of-state5').prop('disabled',true);
        }
    });


    $('#service_categories_id').change(function () {

      var service_category=$(this).val();
        if($(this).val() == "") {



        } else {

            $.ajax({
                url: '/service_categories/'+$(this).val()+'/service_sub_categories/sub_service_dropdown.js',
                type: "GET"

            });
        }
    });

    $('#states-of-country').change(function () {
        var input_state = $(this);
        var cities_of_state1 = $("#cities-of-state1");
        var cities_of_state2 = $("#cities-of-state2");
        var cities_of_state3= $("#cities-of-state3");
        var cities_of_state4= $("#cities-of-state4");
        var cities_of_state5= $("#cities-of-state5");

        if($(this).val() == "") {
            cities_of_state.html("");


        } else {

            $.ajax({
                url: '/cities/' + $(this).val(),
                type: "POST"

            });
         /*   $.ajax({
                url: '/cities/' + $(this).val(),
                data: {

                },
                error: function() {
                    $('#info').html('<p>An error has occurred</p>');
                },

             /!*   success: function(data) {

                    var opt = '<option value="" selected="">Select Your City</option>';
                    console.log(data);
                    if(data.length == 0){

                    } else {
                        for (var i=0;i<data.length;i++){
                            opt += '<option value=' + data[i] + '> ' + data[i] + '</option>';
                            cities_of_state1.html(opt);
                            cities_of_state2.html(opt);
                            cities_of_state3.html(opt);
                            cities_of_state4.html(opt);
                            cities_of_state5.html(opt);

                            $('#cities-of-state1').prop('disabled',true);
                            $('#cities-of-state2').prop('disabled',true);
                            $('#cities-of-state3').prop('disabled',true);
                            $('#cities-of-state4').prop('disabled',true);
                            $('#cities-of-state5').prop('disabled',true);
                        }

                    }
                },*!/
                type: 'GET'
            });
*/
        }
    });



$('#submitbtn').on("click", function () {
    var locations=[]
    $("input:checkbox[name=location]:checked").each(function(){

        locations.push($(this).attr('location-name'));
    });
    var service_category = $('#service_categories_id').find(":selected").attr('value');
    var service_sub_category = $('#sub_services').find(":selected").attr('value');
    var time = $('#time').find(":selected").attr('value');
    var amount = $('#amount').find(":selected").attr('value');
    var stylist_id = $(this).attr('stylist_id');

    if (service_category==""||service_sub_category=="" || time=="" || amount==""){
        $('#alertWarning').show()
    }
else {

        $('#addLoader').show()
        $.ajax({
            url: "/users/" + stylist_id + "/service_list.js",
            type: "POST",
            data: {
                service: {
                    service_category_id: service_category,
                    service_sub_category_id: service_sub_category,
                    time: time,
                    amount: amount,
                    location1: (locations[0] == undefined) ? " " : locations[0],
                    location2: (locations[1] == undefined) ? " " : locations[1],
                    location3: (locations[2] == undefined) ? " " : locations[2],
                    location4: (locations[3] == undefined) ? " " : locations[3],
                    location5: (locations[4] == undefined) ? " " : locations[4],


                }
            },
            success: function (returnhtml) {
                $('#addLoader').hide()

            }
        });

    }

});
</script>
<style>

</style>