<div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
                <div class="slider-title" style="background-image:url(assets/images/GiftCard/Hero-Img.jpg)">
                    <div class="table-cell">
                        
                        
                        <div class="button-group gift-card-up"> 
						 <img src="assets/images/GiftCard/GiveTheGiftReddera.png" class="img-gift-top-ba" alt="img"/>
							
						</div>
                    </div>
            </div>
            
           
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    <!--About Us section -->
    <section id="about-us" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title wow fadeInDown">
                        
                        <p style="font-size: 20px;">
							Specials occation or not, your special someone will love the gift of Reddera
						</p>
					<!--	<div class="section-borders-gift"> 
						 <img src="assets/images/GiftCard/PNG/Bow.png" class="img-prc-gift" alt="img"/>
						<a href="#" class="protfolio-link-bt btn">purchase Gift Card</a> </div>-->
						
						<div class="section-borders-gift">
						<img src="assets/images/GiftCard/PNG/Bow.png" class="img-prc-gift" alt="img"/>
						  <button class="protfolio-link-bt btn">purchase Gift Card</button>
						  <div class="dropdown-content">
							<a href="#">$25</a>
							<a href="#">$50</a>
							<a href="#">$75</a>
							<a href="#">$150</a>
							<a href="#">$500</a>
							<a href="#">$750</a>
							<a href="#">$1000</a>
						  </div>
						</div>
                    </div>
                </div>
            </div>
		
            <div class="row">
			 <div class="col-sm-10 col-sm-offset-1">
                  <div class="col-md-3 col-sm-6">
                      
							<div  class="img-responsive img-circle-big">
							  <img src="assets/images/GiftCard/Grooming.jpg" class="img-circle-big" alt="img"/>
							</div>
						
                   </div>
					<div class="col-md-3 col-sm-6">
                      
							<div  class="img-responsive img-circle-big">
							  <img src="assets/images/GiftCard/Massage.jpg" class="img-circle-big" alt="img"/>
							</div>
						
                   </div>
					<div class="col-md-3 col-sm-6">
                      
							<div  class="img-responsive img-circle-big">
							  <img src="assets/images/GiftCard/Hair.jpg" class="img-circle-big" alt="img"/>
							</div>
						
                   </div>
					<div class="col-md-3 col-sm-6">
                      
							<div  class="img-responsive img-circle-big">
							  <img src="assets/images/GiftCard/Makeup.jpg" class="img-circle-big" alt="img"/>
							</div>
						
                   </div>
                </div>
            </div>
        </div>
    </section>
    <section id="our-service" class="service-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                     <div class="section-title wow fadeInDown">
                        <h1>Service Offerings</h1>
                        <div class="section-borders"></div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-wrap">
                    <div class="col-md-4  col-sm-offset-2">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
						   <div class="col-md-2">
							<i class="fa no-circle"><img src="assets/images/GiftCard/PNG/Women_HairIcon.png"/></i>
                          </div>
						   <div class="col-md-10">
						   <h2>WOMENE'S HAIR</h2>
                            
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
						 </div>	
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-offset-1">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
							 <div class="col-md-2">
							 <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/Makeup_LashesIcon.png"/></i>
							 </div>
							  <div class="col-md-10">
                            <h2>MAKEUP AND LASHES</h2>
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-offset-2">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
							 <div class="col-md-2">
							  <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/Women_sEthnicHairIcon.png"/></i>
							  </div>
							   <div class="col-md-10">
                            <h2>Women's Ethnic Hair</h2>
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-offset-1">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
							 <div class="col-md-2">
							 <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/Men_sGroomingIcon.png"/></i>
							 </div>
							  <div class="col-md-10">
                            <h2>Men's Grooming</h2>
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-offset-2">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
							 <div class="col-md-2">
							 <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/MassageIcon.png"/></i>
							 </div>
							  <div class="col-md-10">
                            <h2>Massage</h2>
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-offset-1">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
							 <div class="col-md-2">
							 <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/NailsIcon.png"/></i>
							 </div>
							  <div class="col-md-10">
                            <h2>Nails</h2>
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
					<div class="col-md-4 col-sm-offset-2">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
							 <div class="col-md-2">
							 <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/FacialsIcon.png"/></i>
							 </div>
							  <div class="col-md-10">
                            <h2>Facials</h2>
                            <p>From blow-outs to twist-sout<br>
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-offset-1">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
							 <div class="col-md-2">
							 <i class="fa no-circle"><img src="assets/images/GiftCard/PNG/HairRemovalIcon.png"/></i>
							 </div>
							  <div class="col-md-10">
                            <h2>HairRemoval</h2>
                            <p>From blow-outs to twist-sout
							Price start at:$50</p>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    