 <div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
              
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    <!--About Us section -->
    <section id="about-us" class="section-padding">
      <div class="container">
        
       <div class="col-sm-12">
         <div class="col-sm-4">
          <div class="row">
                       <div class="col-sm-2 icn-img"><img src="assets/images/camera.png" class="img-responsive" alt="img"/></div>
                       <div class="col-sm-10 sec-text"> <h3>Services</h3>
                        <span>Edit, Add, or Delete Services</span>
            </div>
                 </div>
       </div>
        <div class="col-sm-8">
                 <div class="row">
                    
            <div class="col-sm-12 profile-padding">
                
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top1.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top2.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top3.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top4.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top3.png" class="img-responsive" alt="img"/>
               </div>
             
             <div class="col-sm-12 profile-padding">
               <div class="col-sm-12">
                <div class="row">
                  <img src="assets/images/dash/LineSeparation.png" class="separate" alt="img"/>
                </div>
              </div>
             </div> 
             
                </div>
      </div>
     </div> 
     
     </div>
     
     
     <div class="col-sm-12">
         <div class="col-sm-4">
          <div class="row">
                       <div class="col-sm-2 icn-img"><img src="assets/images/add-camera.png" class="img-responsive" alt="img"/></div>
                       <div class="col-sm-10 sec-text"> <h3>Additional Photos</h3>
                        <span>Edit or Upload Additional Portfolio Photos</span>
            <span><img src="assets/images/red-f.png" class="img-responsive" alt="img"/> Upload  From Facebook</span>
            <span><img src="assets/images/inta.png" class="img-responsive" alt="img"/> Upload  From Facebook</span>
             </div>
                 </div>
       </div>
        <div class="col-sm-8">
                 <div class="row">
                    
            <div class="col-sm-12 profile-padding">
                
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top1.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top2.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top3.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top4.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top3.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top1.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-img">
                 <img src="assets/images/dash/Top2.png" class="img-responsive" alt="img"/>
               </div>
               <div class="col-sm-4 portfo-up">
                 <span>+</span>
                 <span>upload</span>
               </div>
               
             <div class="col-sm-12 profile-padding">
               <div class="col-sm-12">
                <div class="row">
                  <img src="assets/images/dash/LineSeparation.png" class="separate" alt="img"/>
                </div>
              </div>
             </div> 
             
                </div>
      </div>
     </div> 
     
     </div>
    </div>  
    </section>
    <!--About Us section -->
    <!--Our service section -->
   
<script>
    $( document ).ready(function() {
        NProgress.done();

    });
        </script>